<mat-card class="example-card">
    <mat-card-header class="card-color" >
      <div mat-card-avatar class="example-header-image" style="background-image: url({{person.photoThumb}});" ></div>
      <mat-card-title id="card-title" >{{person.first}} {{person.last}} </mat-card-title>
      <button mat-button (click)="delete()"><mat-icon  id="card-delete">delete</mat-icon></button>
      <mat-card-subtitle>{{person.gender}}</mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image src={{person.photoLarge}} height="350px" width="350px"  alt="Photo of a Shiba Inu">
    <mat-card-content class="card-color" >
      
    </mat-card-content>
    <div class="card-color" >𝗘𝗺𝗮𝗶𝗹   {{person.email}}</div>
  </mat-card>
  <br>