.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    /* background-image: url({{person.photoImage}}); */
    background-size: cover;
  }
   #card-title{
    margin-right: 2rem;
  }
:root{
    padding: 2em;
}
.card-color{
  background-color: #FAF8F1;
}