.record-container{
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}
.record-child{
    padding: 1em 2em;
}