<div class="container">
    <button mat-raised-button color="primary" (click)="addRecords()" >Add Record</button>
</div>
<div class="container"><h2>Records</h2></div>

<div class="record-container">
    <!-- <mat-grid-list cols="2" rowHeight="2:1"> -->
    <div class="record-child" *ngFor="let record of persons" >
        <usercard [person]="record" ></usercard>
    </div>   
<!-- </mat-grid-list> -->
</div>
