/* You can add global styles to this file, and also import other style files */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
